@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(25, 25, 25);
}

input {
  color:black;
  font-size: 1.25rem;
  padding: 5px;
}
/* navbar */
#root{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar{
  display: flex;
  align-items:flex-start;
  justify-content: center;
}
.navbar a{
  text-decoration: none;
  padding: 20px;
  text-transform: capitalize;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.25rem;
  color:white;
}

.navbar a:hover{
  transform: scale(1.05);
}

.navbar a:nth-child(1){
  margin-right: auto;
}

.navbar .bars{
  visibility: hidden;
}

.routes{
  min-height: 100vh;
  color:white;
}

.routes .home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.routes .home .hometop{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  width:100%;
  min-height: 100vh;
  padding: 15px 25px;
}

.routes .home .hometop .homepic{
  flex:1;
}

.routes .home .hometop .top{
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  flex-direction: column;
  min-height: 100vh;
  width: 50%
}
.routes .home .hometop .top .orange{
  position: relative;
  z-index: 1;
}

.routes .home .hometop .top .color{
  color: rgb(255, 166, 0);
}

.routes .home .hometop .top .orange::before{
  content: "";
  width:80px;
  height:80px;
  border-radius: 50%;
  background-color: orange;
  position: absolute;
  right:0;
  top:0;
  z-index: -1;
}

.routes .home .hometop .top h2{
  font-size: 4rem;
  font-weight: lighter;
}
.routes .home .hometop .top h3{
  font-weight: lighter;
}

.routes .home .hometop .top .stats{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.routes .home .hometop .top .stats >div{
  width:100px;
}

.routes .home .hometop .top .stats >div h3{
  font-size:2rem
}
.routes .home .hometop .top .stats >div p{
  font-size: 15px;
}

.routes .home .hometop .top .stats p{
  font-size: 20px;
}

.routes .home .hometop .top .stats >div h3 strong {
  font-size: 1rem;
  color:yellow;
}

.routes .home .hometop .homepic{
  width:30%;
  height:100%;
}
.routes .home .hometop .homepic img{
  width:100%;
  height:100%;
}

.routes .home .hometop form{
  width:100%;
  max-width: 50vh;
}
.routes .home .hometop form input {
  width:100%;
  height:50px;
  background-color: white;
  border:5px solid rgb(38, 38, 240);
}

.routes .home .homehotels{
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.routes .home .homehotels .holder{
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.routes .home .homehotels .sponsers{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}

.routes .home .homehotels .sponsers img{
  width:200px;
  background-color: white;
}

.routes .home .homehotels .hotels{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:25px;
}

.routes .home .homehotels .hotels .hotel {
  height:400px;
  text-decoration: none;
  color:white;
}

.routes .home .homehotels .hotels .hotel p{
  width:250px;
}

img.pic{
  border-radius: 5px;
}

div.accordian{
  width:100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

div.outer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border:1px solid white;
  width:100%;
  padding: 5px;
}


div.answer {
  width:300px;
}

div.query{
  margin-top: 10px;
  width: 100%;
}

div.icons{
  display: flex;
  align-items: center;
  justify-content: center;
}
div.query p{
  font-size: 1.5rem;
}

div.answer{
  color:rgb(199, 190, 16);
}

div.card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.card >div{
  width:100%;
}

div.card div button{
  width:100%;
}

div.card div button{
  color:red;
  font-size: 1rem;
}

div.card-top{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  gap:10px;
}

div.bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:25px;
}

div.contact{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100vh;
}

.routes .home .contact .bottom .card{
  width:250px;
  height:250px;
}

.routes .home .contact .bottom .card .card-top{
  width:100%;
  height:100%;
}
.routes .home .contact .bottom .card div button{
  width:250px;
  height:75px;
  cursor: pointer;
}

div.footer-card{
  color:white;
}

.foot .banner{
  padding: 25px;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foot .banner h1{
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 5px;
}

.footer{
  display: flex;
  align-items:flex-start;
  justify-content: center;
  gap:25px;
}
.footer div{
  width:25%;
  min-height: 25vh;
}

.footer div{
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 25px;
  gap:20px;
}

.footer div .red{
  color:rgb(255, 0, 0);
}

.footer div .green{
  color:rgb(1, 215, 1);
}
.footer div h1{
  font-size: 2rem;
  font-weight: lighter;
}

.footer div h2{
  font-size: 1.2rem;
  font-weight: lighter;
}

.footer div input{
  height: 35px;
  width: 200px;
  border: 0.5px solid white;
  padding: 10px;
}

.footer button{
  color:white;
}

/* DETAIL PAGE */
  .routes .detail{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width:100%;
  }

  .routes .detail .nested{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    width:100%;
    min-height: 100vh;
    gap:2rem;
  }
  .routes .detail .nested .nested-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1rem;
  }
  .routes .detail .nested div .nested-stats{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width:100%;
  }
  .routes .detail .nested div .nested-stats p{
    border:1px solid white;
    padding: 1rem;
    border-radius: 10px;
    width:100%;
  }
  .routes .detail .nested div .nested-items{
    width:100%;
  }
  .routes .detail .nested div .nested-items >div{
    border:1px solid white;
    padding: 1rem;
    border-radius: 10px;
    width:100%;
  }

  .routes .detail .nested .inner-nested{
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex-direction: column;
    gap:1rem;
    width:90%;
  }

  .routes .detail .nested .summary{
    width:90%;
  }
  .routes .detail .nested .summary >div{
    border:1px solid white;
    padding: 1rem;
    border-radius: 10px;
  }
  .routes .detail .loading{
    color:white;
    font-size: 1rem;
    border:1px solid white;
  }

  .routes .searchhotels form input{
    border:1px solid white;
    color:white;
    display: block;
  }

  .routes .searchhotels .pics{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;

  }

  .routes .searchhotels .pics a{
    min-height: 500px;
    max-width: 400px;
    margin: 5px;
  }

  .routes .searchhotels .pics a p{
    width:300px;
  }

/* DETAIL PAGE */




/* navbar */

/* media query for mobile */

@media only screen and (max-width: 700px) {
  #root{
    min-width:325px;
  }

  .navbar{
    visibility:hidden;
    position: relative;
    min-width: 350px;
  }
  .navbar .bars{
    visibility: visible;
    opacity: 1;
  }
  .small{
    display: flex;
    visibility: visible;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .bars{
    position: absolute;
    top:0;
    right:0;
  }
  .navbar a{
    font-size: 15px;
  }
  .routes .home{
    flex-direction: column;
    align-items: center;
    gap:25px;
  }
  .routes .home .hometop{
    flex-direction: column;
    align-items: center;
    gap:25px;
  }
  .routes .home .hometop .homepic{
    border:1px solid white;
    width:200px;
    height:200px;
  }
  .routes .home .hometop .top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    width:100%;
  }
  .routes .home .hometop .top h2{
    font-size: 2rem;
  }
  .routes .home .hometop .top h3{
    font-size: 1rem;
    width:50%;
  }
  .routes .home .hometop input {
    width:200px;
    height:40px;
    background-color: white;
    border:5px solid rgb(38, 38, 240);
  }
  .routes .home .hometop .top .orange::before{
    content: "";
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: orange;
    position: absolute;
    right:0;
    top:0;
    z-index: -1;
  }
  .routes .home .hometop .top .stats{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .routes .home .hometop .top .stats >div h3{
    font-size:1.25rem
  }
  .routes .home .hometop .top .stats >div p{
    font-size: 15px;
  }
  .routes .home .hometop .top .stats >div h3 strong {
    font-size: 1rem;
    color:yellow;
  }
  .routes .home .hometop .top .stats >div{
    width:125px;
  }
  .routes .home .homehotels .sponsers img{
    width:100px;
    background-color: white;
  }
  
  
.routes .home .homehotels .sponsers img{
  width:75px;
  background-color: white;
}


.routes .home .homehotels .hotels .hotel {
  height:300px;
  text-decoration: none;
  color:white;
}

.routes .home .homehotels .hotels .hotel p{
  width:200px;
}

img.pic{
  border-radius: 5px;
}

.routes .home .contact .bottom .card{
  width:150px;
  height:150px;
}

.routes .home .contact .bottom .card div button{
  width:100%;
  height:25px;
}

.routes .searchhotels .pics a{
  max-width: 250px;
}

.routes .detail .nested .nested-images {
  max-width: 250px;
}

.footer-card .foot .banner{
  flex-direction: column;
  background-color:white;
}

.footer-card .foot .banner h1{
  font-size: 1rem;
  padding: 0;
  background-color:white;
  color:black;
}





.footer{
  display: flex;
  align-items:flex-start;
  justify-content: center;
  gap:0;
}
.footer div{
  width:25%;
  min-height: 25vh;
}

.footer div{
  display: flex;
  align-items:flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap:0;
}

.footer div .red{
  color:rgb(255, 0, 0);
}

.footer div .green{
  color:rgb(1, 215, 1);
}
.footer div h1{
  font-size: 0.5rem;
  font-weight: lighter;
}

.footer div h2{
  font-size: 0.5rem;
  font-weight: lighter;
}

.footer div p{
  font-size: 0.5rem;
}

.footer div input{
  height: 15px;
  width: 50px;
  border: 0.5px solid white;
  font-size: 0.5rem;
  color:white;
}

.footer button{
  color:white;
  font-size: 0.5rem;
}


}

/* media query for mobile */
